################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practice/NumberSumm/.vs
/Practice/NumberSumm/NumberSumm/bin/Debug/net7.0
/Practice/NumberSumm/NumberSumm/obj
/Practice/MovingAverage/.vs
/Practice/MovingAverage/MovingAverage/bin/Debug/net7.0
/Practice/MovingAverage/MovingAverage/obj
